##3.1. Tugas:
Berikut ini adalah psudo code  untuk melakukan pengecekan bertingkat
``` javascript
i <= 2
IF i < 7 THEN
	CETAK "Nilai i kurang dari 7"
	IF i < 3 THEN
	   CETAK "Nilai i kurang dari 7 dan kurang dari 3"
	ELSE
		CETAK "Nilai i kurang dari 7 tapi kurang dari 3"

```
Implekementasikan kode diatas dalam kode python. Ketikan code cell di bawah ini pada editor:

In [24]:
##Jawaban Tugas 3.1

i = 5

if i < 7:
    print("Nilai i kurang dari 7");
    if i < 3:
        print("Nilai i kurang dari 7 dan kurang dari 3")
    else:
        print("Nilai i kurang dari 7 tapi lebih dari 3")

Nilai i kurang dari 7
Nilai i kurang dari 7 tapi lebih dari 3